body {
  background-color: white;
  color: black;
}

h1 {
  background-color: white;
  color: black;
}

p{
  background-color: white;
  color: black;
}
li {
  background-color: white;
  color: black;
}
img {
  width: 30%;
}
*/
figure {
  text-align: center;
  font-style: italic;
}
