<h1>Padhmasri Baskaran || ITIS 3135</h1>
<nav>
    <a href="index.html">Home</a> ||
    <a href="introduction.html">Introduction</a> ||
    <a href="contract.html">Contract</a> ||
    <a href="tech-insight-hub/client-project-overview.html">Project Overview</a> ||
    <a href="peer-review\alex-peer-review.html">Review 1</a> ||
    <a href="peer-review\lori-peer-review.html">Review 2</a>
</nav>

<nav>
  <br>
  <!-- <a href="https://webpages.charlotte.edu/pbaskara/itis3135/hobby/">Hobby</a> -->
  ~ <a href="hobby/">Hobby</a> ~
  <a href="dynamic-slideshow.html">Slideshow</a> ~
  <a href="tech-insight-hub/index.html">Client Project</a> ~
</nav>