body {
    background-color: darkslategray;
    text-align: center;
    color: gray;
    /* color: white; */
    font-family: monospace;
}

a {
    color: cornsilk;
    text-decoration: none;

}

a:hover {
    color: crimson;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
}

/* 
img {
    width: 30%;
}

figure {
    text-align: center;
    font-style: italic;
}
*/